<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Catalog</title>

    <!--Bootstarp-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css" />

     <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"async defer></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '186307094542-h4cqha7rgoaoe6sg2cn9v1vlnbn68qsv.apps.googleusercontent.com'
          });
        });
      }
    </script>
  </head>
  <body>
    <div class="container">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/catalog"><font color="#3c3c3c"><i class="fas fa-home"></i>Catalog</font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <font color="#3c3c3c"> Categories</font>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                    <a class="dropdown-item" href="/catalog/{{ category.name }}">{{ category.name }}</a>
                {% endfor %}
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron myjumbotron">
            <h1 class="p-2 display-4 text-center">Log-in Using Google Account</h1>
        
            <center><button id="signinButton" class="btn btn-outline-primary"><i class="fab fa-google"></i> Signin </button></center>
                      
            <div id="result"></div>
        
      </div>
    </div>
  </div>

    <footer class="p-2 p-md-2 footer">
      <ul class="links">
        <li><a class="btn btn-light btn-sm myButton" href="https://github.com/VasaviNaveena"><i class="fab fa-github icon"></i>Github</a></li>
      </ul>

    </footer>

    <script>
      $('#signinButton').click(function() {
        function signInCallback(authResult){
          if (authResult['code']){
            $('#signinButton').attr('style', 'display: none');
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success:function(result){
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                setTimeout(function() {
                  window.location.href = "/catalog";
                }, 2000);
              },
              processData:false,
              data:authResult['code']
            });
          } else{
            // handle error
            console.log('There was an error: ' + authResult['error']);
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      });
    </script>
              
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
  </body>
</html>
